<head>
    <style type="text/css">
        #choose_existingbtn{
            width: 250px;
        }
        #create_your_ownbtn{
            width: 250px;
        }
        #obrazek{
            width: 250px;
            height: auto;
        }
    </style>
</head>

<div class="container">
    <h6 class="center-align"><b>My Nutrition Plan</b></h6>
    <p class="center-align"><img id="obrazek" alt="" class="responsive-img"></p>
    <h6 class="center-align">You haven't added any nutrition plan yet. In order to add a plan, please:</h6>
    <p class="center-align"><a class="waves-effect waves-light btn" id="choose_existingbtn" href="#test-swipe-1">Choose existing one</a></p>
    <p class="center-align"><a class="waves-effect waves-light btn" id="create_your_ownbtn">Create your own plan</a></p>
</div>