

<div style="text-align: center">
    <ul class="collection">
        <li class="collection-item">
        <a>Miejsce na wykres </a>
        </li>
        <br>
        <br>
        <br>
        <br>
    </ul>

</div>
<div style="text-align: center">
    <ul class="collection">
        <li class="collection-item">Twoja waga :</li>
    </ul>
    <div style="text-align: center">
        <a class="waves-effect waves-light btn" id="set_weight_button">Add new weight measurement</a>
    </div>
</div>
<div style="text-align: center">
    <a class="waves-effect waves-light btn" id="share_button">Share</a>
</div>

