<body class="container">

    <div class="row">
        <h5><span class="blue-text text-darken-4">Stats</span></h5>
    </div>
    <div style="align-items: flex-start">
    </div>
    <div class="row">
        <div class="container">
            <canvas id="myChart" width="400" height="150"></canvas>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <a class="collection-item center-align">Twoja waga :<span id="actual_weight">[weight]</span></a>
    </div>

    <div style="text-align: center" ;>
        <div class="row" style="align-items: flex-end">
            <a class="waves-effect waves-light btn collection-item" id="set_weight_button" style="text-align: center">Add
                new weight measurement</a>
        </div>
    </div>

</body>
