<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.uek.bai.diet.manager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Diet Manager</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="sewerun777@gmail.com" href="http://cordova.io">
        Seweryn Ślęczka Monika Stach Tedeusz Sławik Jakub Talarczyk
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <allow-navigation href="file://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <plugin spec=" https://github.com/acianti/cordova-plugin-local-notifications.git" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.1" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <universal-links>
        <host name="k3hc2.app.goo.gl" scheme="https" />
        <host name="dietmanager-4472f.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="SplashScreenDelay" value="0" />
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
