<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' www.googleapis.com:8080 fonts.googleapis.com:8080  data: gap: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../lib/materialize/materialize.min.css"  media="screen,projection"/>

    <script type="text/javascript"  src="../../lib/jquery/jquery-3.3.1.min.js" ></script>
    <script src="../../lib/firebase/firebase.js"></script>
    <script type="text/javascript" src="../../cordova.js"></script>
    <script src="../../lib/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/plan_details/PlanDetailsController.js"></script>
    <script type="text/javascript" src="../../lib/framework/Initializer.js"></script>

</head>
<body class = "container">
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Nutrition plan</h4></li>
        <img class="responsive-img" src="../../../res/dietIMG/fit.jpg">
        <li class="collection-item"><div>Monday<div class="right"><button onclick="myFunction('monday_diet')">Hide/Show menu</button></div></div></li>
        <div id="monday_diet">
            <h6>Breakfast:</h6> <span id="monday_breakfast"> 3 Scrambled Eggs, 1 large grapefruit</span><br>
            <h6>Snack:</h6> <span id="monday_snack1"> 25 almonds</span><br>
            <h6>Lunch:</h6> <span id="monday_lunch"> Turkey Wrap, 1 apple</span><br>
            <h6>Snack:</h6> <span id="monday_snack2"> 1 piece of string cheese</span><br>
            <h6>Dinner:</h6> <span id="monday_dinner"> Spicy Chicken and Pasta, Side salad and 2 Tbsp olive oil/vinegar dressing</span><br>
        </div>
        <li class="collection-item"><div>Tuesday<div class="right"><button onclick="myFunction('tuesday_diet')">Hide/Show menu</button></div></div></li>
        <div id="tuesday_diet">
            <h6>Breakfast:</h6> <span id="tuesday_breakfast"> 2 Tbsp of peanut butter with 1 piece of toast, 1 banana</span><br>
            <h6>Snack:</h6> <span id="tuesday_snack1"> 2 small boxes of raisins</span><br>
            <h6>Lunch:</h6> <span id="tuesday_lunch"> Leftover Spicy Chicken and Past</span><br>
            <h6>Snack:</h6> <span id="tuesday_snack2"> 0% fat Greek yogurt</span><br>
            <h6>Dinner:</h6> <span id="tuesday_dinner"> Miso Salmon, 2 cups of broccoli</span><br>
        </div>
        <li class="collection-item"><div>Wednesday<div class="right"><button onclick="myFunction('wednesday_diet')">Hide/Show menu</button></div></div></li>
        <div id="wednesday_diet">
            <h6>Breakfast:</h6> <span id="wednesday_breakfast"> Lean Eggs and Ham, 1 large grapefruit</span><br>
            <h6>Snack:</h6> <span id="wednesday_snack1"> 25 almonds</span><br>
            <h6>Lunch:</h6> <span id="wednesday_lunch"> Black Bean and Cheese Burrito, 1 apple</span><br>
            <h6>Snack:</h6> <span id="wednesday_snack2"> 1 piece of string cheese</span><br>
            <h6>Dinner:</h6> <span id="wednesday_dinner"> Veggie Burger and bun, Salad with 4 Tbsp olive oil/vinegar dressing, 1 serving of sweet potato fries</span><br>
        </div>
        <li class="collection-item"><div>Thursday<div class="right"><button onclick="myFunction('thursday_diet')">Hide/Show menu</button></div></div></li>
        <div id="thursday_diet">
            <h6>Breakfast:</h6> <span id="thursday_breakfast">Berry Wafflewich, 0% fat Greek yogurt</span><br>
            <h6>Snack:</h6> <span id="thursday_snack1"> 15 snap peas, 2 Tbsp of hummus</span><br>
            <h6>Lunch:</h6> <span id="thursday_lunch"> Gobbleguac Sandwich, 1 apple</span><br>
            <h6>Snack:</h6> <span id="thursday_snack2"> 1 banana, 1 piece of string cheese</span><br>
            <h6>Dinner:</h6> <span id="thursday_dinner"> Steamed Snapper with Pesto, 1 cup of brown rice, 2 cups of broccoli</span><br>
        </div>
        <li class="collection-item"><div>Friday<div class="right"><button onclick="myFunction('friday_diet')">Hide/Show menu</button></div></div></li>
        <div id="friday_diet">
            <h6>Breakfast:</h6> <span id="friday_breakfast"> 3 Scrambled Eggs, 1 large grapefruit</span><br>
            <h6>Snack:</h6> <span id="friday_snack1"> 25 almonds</span><br>
            <h6>Lunch:</h6> <span id="friday_lunch">Turkey Wrap, 1 apple</span><br>
            <h6>Snack:</h6> <span id="friday_snack2"> 1 piece of string cheese</span><br>
            <h6>Dinner:</h6> <span id="friday_dinner"> Spicy Chicken and Pasta, Side salad and 2 Tbsp olive oil/vinegar dressing</span><br>
        </div>
        <li class="collection-item"><div>Saturday<div class="right"><button onclick="myFunction('saturday_diet')">Hide/Show menu</button></div></div></li>
        <div id="saturday_diet">
            <h6>Breakfast:</h6> <span id="saturday_breakfast"> 3 Scrambled Eggs, 1 large grapefruit</span><br>
            <h6>Snack:</h6> <span id="saturday_snack1"> 25 almonds</span><br>
            <h6>Lunch:</h6> <span id="saturday_lunch"> Turkey Wrap, 1 apple</span><br>
            <h6>Snack:</h6> <span id="saturday_snack2"> 1 piece of string cheese</span><br>
            <h6>Dinner:</h6> <span id="saturday_dinner"> Spicy Chicken and Pasta, Side salad and 2 Tbsp olive oil/vinegar dressing</span><br>

        </div>
        <li class="collection-item"><div>Sunday<div class="right"><button onclick="myFunction('sunday_diet')">Hide/Show menu</button></div></div></li>
        <div id="sunday_diet">
            <h6>Breakfast:</h6> <span id="sunday_breakfast"> 3 Scrambled Eggs, 1 large grapefruit</span><br>
            <h6>Snack:</h6> <span id="sunday_snack1"> 25 almonds</span><br>
            <h6>Lunch:</h6> <span id="sunday_lunch">  Turkey Wrap, 1 apple</span><br>
            <h6>Snack:</h6> <span id="sunday_snack2"> 1 piece of string cheese</span><br>
            <h6>Dinner:</h6> <span id="sunday_dinner">Spicy Chicken and Pasta, Side salad and 2 Tbsp olive oil/vinegar dressing</span><br>
        </div>
    </ul>
</div>
<div class="row">
    <a class="waves-effect waves-light btn">Add diet to profile</a>
</div>
<script type="text/javascript">
    function myFunction(dayID) {
        var x = document.getElementById(dayID);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>
</html>