<body class = "container">
<div class="card-panel teal lighten-2">
    <div class="row">
        <h5><span class="blue-text text-darken-4">Diet App</span></h5>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../../../../res/dietIMG/fit.jpg">
                </div>
                <div class="card-content">
                    <p>Fit diet</p>
                    <p>Amazing diet for you!</p>
                </div>
                <div class="card-action">
                    <a href="../plan_datails/plan_details.html">Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../../../../res/dietIMG/glutenFree.jpg">
                </div>
                <div class="card-content">
                    <p>Gluten free diet</p>
                    <p>Amazing diet for you!</p>
                </div>
                <div class="card-action">
                    <a href="#">Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../../../../res/dietIMG/muscle.jpg">
                </div>
                <div class="card-content">
                    <p>Muscule diet</p>
                    <p>Amazing diet for you!</p>
                </div>
                <div class="card-action">
                    <a href="#">Click here to view more</a>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../../../../res/dietIMG/vegan.jpg">
                </div>
                <div class="card-content">
                    <p>Vegan diet</p>
                    <p>Amazing diet for you!</p>
                </div>
                <div class="card-action">
                    <a href="#">Click here to view more</a>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../../../../res/dietIMG/vegetarian.jpg">
                </div>
                <div class="card-content">
                    <p>Vegetarian diet</p>
                    <p>Amazing diet for you!</p>
                </div>
                <div class="card-action">
                    <a href="#">Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
</body>