<head>
    <style type="text/css">
        .preloader-background {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #eee;

            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
</style>
</head>
<body class = "container">
<div class="card-panel teal lighten-2">
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img id = "diet_link1">
                </div>
                <div class="card-content">
                    <p><span id ="diet_name1">dietName1</span></p>
                    <p><span id ="diet_description1">dietDescription1</span></p>
                </div>
                <div class="card-action" id="plan_details_view_1">
                    <a>Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img id = "diet_link2">
                </div>
                <div class="card-content">
                    <p><span id ="diet_name2">dietName2</span></p>
                    <p><span id ="diet_description2">dietDescription2</span></p>
                </div>
                <div class="card-action" id="plan_details_view_2">
                    <a>Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img id = "diet_link3">
                </div>
                <div class="card-content">
                    <p><span id ="diet_name3">dietName3</span></p>
                    <p><span id ="diet_description3">dietDescription3</span></p>
                </div>
                <div class="card-action" id="plan_details_view_3">
                    <a>Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img id = "diet_link4">
                </div>
                <div class="card-content">
                    <p><span id ="diet_name4">dietName4</span></p>
                    <p><span id ="diet_description4">dietDescription4</span></p>
                </div>
                <div class="card-action" id="plan_details_view_4">
                    <a>Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img id = "diet_link5">
                </div>
                <div class="card-content">
                    <p><span id ="diet_name5">dietName5</span></p>
                    <p><span id ="diet_description5">dietDescription5</span></p>
                </div>
                <div class="card-action" id="plan_details_view_5">
                    <a>Click here to view more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function navigateToPlanDetails(dietID) {
        var value = dietID;
        localStorage.setItem("diet_offer_ID", value);
    }
</script>
</body>

