<!DOCTYPE html>
<html>
<head>

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../lib/materialize/materialize.min.css" media="screen,projection"/>
    <script type="text/javascript" src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../lib/firebase/firebase.js"></script>
    <script type="text/javascript" src="../../cordova.js"></script>
    <script src="../../lib/materialize/materialize.min.js"></script>
    <script src="../../lib/chart/Chart.min.js"></script>
    <script type="text/javascript" src="../../js/main/dashboard/DashboardFragment.js"></script>
    <script type="text/javascript" src="../../js/main/diet/DietFragment.js"></script>
    <script type="text/javascript" src="../../js/main/profile/ProfileFragment.js"></script>
    <script type="text/javascript" src="../../js/main/stats/StatsFragment.js"></script>
    <script type="text/javascript">
        fragments = {
            "main_tab1_fragment": dashboardFragment,
            "main_tab2_fragment": dietFragment,
            "main_tab3_fragment": statsFragment,
            "main_tab4_fragment": profileFragment
        }
    </script>
    <script type="text/javascript" src="../../js/main/MainController.js"></script>
    <script type="text/javascript" src="../../lib/framework/Initializer.js"></script>

</head>
<body>
<style type="text/css">
div.myDiv { position: fixed; bottom : 0; width : 100%}
</style>
    <div class="col s12" >
        <div id="test-swipe-1" class="col s12 blue"><div data-fragment="main_tab1_fragment" data-view="/view/main/dashboard/dashboard.html" ></div></div>
        <div id="test-swipe-2" class="col s12"><div data-fragment="main_tab2_fragment" data-view="/view/main/diet/diet.html" ></div></div>hi
        <div id="test-swipe-3" class="col s12"><div data-fragment="main_tab3_fragment" data-view="/view/main/stats/stats.html" ></div></div>
        <div id="test-swipe-4" class="col s12 green"><div data-fragment="main_tab4_fragment" data-view="/view/main/profile/profile.html" ></div></div>
    </div>
    <div class = "myDiv">
    <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a href="#test-swipe-1">Nutrition plans</a></li>
        <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
        <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
        <li class="tab col s3"><a href="#test-swipe-4">Profile</a></li>
    </ul>
</div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>
</body>
</html>